:root{
  --bckg: #dfdfdf;
  --objheight: 420px;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    background: var(--bckg);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 85);
}

.alerts{
  height: 5vh;
}

.app{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 90vh;
    padding: 20px;
    border-radius: 10px;
}


table td {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    height: 55px;
}

table {
    border-collapse: separate;
    border-spacing:0 3px;
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    /* background-color: #e5e5e5; */
  }

table p{
  margin: 0;
}

table tr {
  background: white;
}

table th{
  font-weight: 700;
  width: 80px;
  height: 55px;
  font-size: 15px;
  background-color: #c7c7c7;
}

.thead>tr{
  background-color: white;
}

table td>p:last-child{
  font-size: 16px;
}

.table-th:first-child,
.table-td:first-child {
  border-radius: 5px 0 0 5px;
}

.table-th:last-child,
.table-td:last-child {
  border-radius: 0 5px 5px 0;
}
/* :nth-child(odd) */





/* Mutoh */
.unused{
  background-color: var(--bckg);
  color:rgb(116, 116, 116)
}

.tablesmallBox{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 560px;
  height: var(--objheight);
  margin: 10px;
  padding: 16px;
  /* border: 2px solid white */
}

.tableBox h3{
  padding: 0;
  margin: 5px;
  font-size: 18px;
  height: 6%;
}

.tableTbodyBox{
  height: 350px;
  overflow: scroll;
}

.tableTbodyBox::-webkit-scrollbar {
  width: 10px;
}

.tableTbodyBox::-webkit-scrollbar-track {
  /* background-color: white; */
  border-radius: 50px;
}

.tableTbodyBox::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 50px;
}
.tableTbodyBox::-webkit-scrollbar-corner {
  /* background-color: white; */
  border-radius: 6px 6px 6px 6px;
}



.descBox-Mutoh{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.descBox-Mutoh p:nth-child(2) {
  margin: 0;
  font-size: 14px;
}

.mutohs-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}



/* Impala */
.descBox-Impala{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 7%;
}
.changeTargetBtn{
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 0);
}
p{
  margin: 0;
  margin-bottom: 0;
}


.replaceBox{
  display: flex;
  width: 100%;
}


.changeTargetBtn:hover{
  background: rgb(187, 187, 187);
  border-radius: 5px;
}

.changeTargetBox{
  padding: 5px;
  border-radius: 5px;
  border: solid 1px rgb(221, 221, 221);
}

.changeTargetForm p{
  font-size: 16px;
}

.changeTargetForm p, input{
  margin: 5px;
}

.changeInputBox{
  display: flex;
  flex-direction: column;
}

.invalidNumber{
  border: solid 2px rgb(255, 101, 101);
}


.replacement-date{
  font-size: 12px;
}

.warning{
  color: rgb(255, 0, 0);
  font-weight: 700;
}

.changePartsForm{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.activ{
  cursor: pointer;
}

.selected-to-replace{
  background-color: #5c5c5c;
}







/* progress bar */


.progress-bar {
  height: 10px;
  width: 100%;
  border-radius: 10px;
  border: solid 1px rgb(116, 116, 116)
}

.progress-bar > div {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #a4cead;
  background-size: 100px 100%;
  transition: width 200ms;
}

.progress-label{
  font-size: 11px;
  margin-left: 5px;
  width: 25%;
}

.unit{
  cursor: pointer;
}
.unit:hover{
  color:rgb(0, 91, 177);
}


/* chart */

.printer-label{
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.chart-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--objheight);
  width: 560px;
  margin: 10px;
  padding: 16px;
}
#charts{
  width: 100%;
  height: 100%;
}

.dropDown-Box{
  display: flex;
  flex-direction: row;
  height: 20%;
}

.dropdown-label{
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.details-area{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  height: 40%;
  width: 100%;
}

  .select-menu{
    width: 130px;
    margin-left: 20px;
    margin-right: 20px;
}

.selected{
  background: rgb(151, 151, 151);
}

.select-menu .select-btn{
    display: flex;
    height: 12px;
    background: #fff;
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 40px rgba(102, 102, 102, 0.534);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 0px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.1); */
    box-shadow: 0 0 40px rgb(212,212,212);
    display: none;
    max-height: 200px;
    overflow: auto;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    padding: 0 16px;
    font-size: 15px;
}
.options .option:hover{
    background: #e7e7e7;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

.options::-webkit-scrollbar {
  width: 10px;
}

.options::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 50px;
}
.options::-webkit-scrollbar-corner {
  background-color: #e4e4e4;
}